span {
	position: center;
	padding-top: 10px;
	margin-left: 10px;
}

input.button {
	margin-left: auto;
	margin-right: auto;
	float:center !important;
}

div.register {
	text-align: center;
	width: 14.6%;
	margin-left: auto;
	margin-right: auto;
}

div.register input {
	float: right;
}

select {
	float: right;
	width:173px;
}

.namepass {
	float: left;
}

