/* Start main here */
* {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

body {
	background-image: url('../images/bg.jpg');
	background-size: cover;
}


header div.main_balk {
	width: 100%;
	height: 30px;
	background-color: #6CC3BA;
	border-bottom: 2px solid #007ACC;
}

h3.main_mark {
	float: left;
}

h3 {
	float: right;
	padding-right: 10px;
}

ul.main_menu {
	margin-top: 5px;
	width: 800px;
	height: 35px;
	background-image: url('../images/menu.png');
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	border: 4px solid #007ACC;
	text-align: center;
    box-shadow: 5px 5px 7px rgba(0, 122, 204, 0.5);
}

ul.main_menu li {
	display: inline;
}

ul.main_menu li a {
	font-size: 30px;
	font-style: bold;
	color: white;
	font-family: arial;
	margin-right: 20px;
	text-decoration: none;
}

ul.main_menu li a:hover {
	text-decoration: underline;
}

footer.main_footer{
	background-color: #6CC3BA;
	width: 100%;
	height:20px;
	text-align: center;
	position: fixed;
	bottom: 0px;
	margin-left:auto;
	margin-right:auto;
	border-top: 1px solid #007ACC;
}

/* Start index here */



/* Start contact here */
h1.contact_h1 {
	font-family: arial;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 15px 35px;
	margin: -10px -50px;
	text-align:center;
	border-radius: 10px 10px 0 0;
}

hr {
	margin: 10px -50px;
	border: 0; 
	border-top: 1px solid #ccc;
}

span.contact_error {
	color: red;
	font-family: arial;
	font-size: 20px;
}

span.contact_succes {
	color: red;
	font-family: arial;
	font-size: 20px;
}

div.contact_container {
	width: 1000px;
	height: 610px;
	margin:35px auto;
	font-family: 'Raleway', sans-serif;
}

div.contact_form {
	background-color: rgba(255, 255, 255, 0.5);
	width: 1000px;
	margin-right: auto !important;
	margin-left: auto !important;
	padding: 10px 50px 30px;
	border: 2px solid gray;
	border-radius: 10px;
	float:left;
}

input.contact_input[type=text],textarea.contact_message_input {
	width: 97.7%;
	height: 34px;
	padding-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}

textarea.contact_message_input {
	resize:none;
	height:80px;
}

label.contact_label {
	font-family: arial;
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
}

input.contact_submit{
	padding: 10px;
    text-align: center;
    font-size: 25px;
    background: linear-gradient(#6CC3BA 5%, #007ACC 100%);
    border: 2px solid #007ACC;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0px 1px 0px #13506D;
	width: 97.7%;
	border-radius: 5px;
    box-shadow: 5px 5px 7px rgba(0, 122, 204, 0.5)
}

input.contact_submit:hover{
    background: linear-gradient(#007ACC 5%, #6CC3BA 100%);
    box-shadow: 5px 5px 7px rgba(108, 195, 186, 0.5)
}

/* Start account here */
h1.account_h1 {
	font-family: arial;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 15px 35px;
	margin: -10px -50px;
	text-align:center;
	border-radius: 10px 10px 0 0;
}

hr {
	margin: 10px -50px;
	border: 0; 
	border-top: 1px solid #ccc;
}

div.account_container {
	width: 1000px;
	height: 610px;
	margin:35px auto;
	font-family: 'Raleway', sans-serif;
}

div.account_form {
	background-color: rgba(255, 255, 255, 0.5);
	width: 1000px;
	margin-right: auto !important;
	margin-left: auto !important;
	padding: 10px 50px 30px;
	border: 2px solid gray;
	border-radius: 10px;
	float:left;
}

input.account_input[type=text], input.account_input[type=password] {
	width: 97.7%;
	height: 34px;
	padding-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}

select.account_select {
	width: 97.7%;
	height: 34px;
	padding-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}

label.account_label {
	font-family: arial;
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
}

input.account_submit{
	padding: 10px;
    text-align: center;
    font-size: 25px;
    background: linear-gradient(#6CC3BA 5%, #007ACC 100%);
    border: 2px solid #007ACC;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0px 1px 0px #13506D;
	width: 97.7%;
	border-radius: 5px;
    box-shadow: 5px 5px 7px rgba(0, 122, 204, 0.5)
}

input.account_submit:hover{
    background: linear-gradient(#007ACC 5%, #6CC3BA 100%);
    box-shadow: 5px 5px 7px rgba(108, 195, 186, 0.5)
}

/* Start topic_main here */
.topic_createtopic {
	text-align: center;
	font-size: 18px;
	font-weight: 900;
}

.topic_balkje {
	text-align: center;

}

a.topic_create {
	padding-right: 2px;
	text-align: center;
	text-decoration:none;
}

ul.topic_topics {
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto; 
	margin-top:150px;
}

div.topic_alltopics ul.topic_topics li.topic_postname {
	border: 1px solid #000000;
	display:inline-block;
	float:left;
	width:59%;
	background-color: rgba(148, 215, 200, 0.7);
}

.topic_username {
	border: 1px solid #000000;
	display:inline-block;
	float:left;
	width:8.5%;
	background-color: rgba(148, 215, 200, 0.7);
}

.topic_postdate {
	border: 1px solid #000000;
	display:inline-block;
	float:left;
	width:12%;
	background-color: rgba(148, 215, 200, 0.7);
}

.topic_edit {
	border: 1px solid #000000;
	display:inline-block;
	float:left;
	width:6%;
	background-color: rgba(148, 215, 200, 0.7);
}

.topic_remove {
	border: 1px solid #000000;
	display:inline-block;
	float:left;
	width:7%;
	background-color: rgba(148, 215, 200, 0.7);
}

/*Start topic_create here*/
form.topic_create{
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto; 
	margin-top:150px;
}

li.topic_create {
	display:inline-block;
	padding-right: 15px;
}

.topic_create_subject {
	text-align: center;
}

.topic_title {

}

.topic_create_title {

}
.topic_content {

}

.topic_create_content {
	width:800px;
	height:200px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(148, 215, 200, 0.5);
}