.createtopic {
	text-align: center;
	font-size: 18px;
	font-weight: 900;
}

.balkje {
	text-align: center;

}

.href {
	padding-right: 20px;
}

ul.topics {
	border: 1px solid #000000;
	width: 70%;
	text-align: center;
	margin-left: auto;
	margin-right: auto; 
}

li.topic {
	display:inline;
}

.postname {
	border: 1px solid #000000;
	display:inline;
}

.username {
	border: 1px solid #000000;
	display:inline;
}

.postdate {
	border: 1px solid #000000;
	display:inline;
}