.createtopic {
	text-align: center;
	font-size: 18px;
	font-weight: 900;
}

.balkje {
	text-align: center;

}

.href {
	padding-right: 20px;
}

ul.topics {
	width: 70%;
	text-align: center;
	margin-left: auto;
	margin-right: auto; 
	margin-top:150px;
}

div.alltopics ul.topics li.postname {
	border: 1px solid #000000;
	display:inline-block;
	float:left;
	width:68%;
}

.username {
	border: 1px solid #000000;
	display:inline-block;
	float:left;
	width:13%;
}

.postdate {
	border: 1px solid #000000;
	display:inline-block;
	float:left;
	width:14%;
}