* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #006600;
}

header {
	width: 100%;
	height: 30px;
	background-color: #338533;
	border-bottom: 2px solid green;
}

header h3 {
	float: right;
	padding-right: 10px;
}

h3.mark {
	float: left;
}

ul {
	margin-top: 50px;
	width: 30%;
	height: 35px;
	background-image: url('images/menu.png');
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	border: 4px solid black;
	text-align: center;
}

li {
	display: inline;
}

li a {
	font-size: 30px;
	font-style: bold;
	color: white;
	font-family: arial;
	margin-right: 20px;
	text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}